{% extends 'base.html' %} {% load static %} {% block content %}

<div
  class="container"
  style="
    /* background-color: #8fbe88; */
    border-radius: 6px;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  "
>
  <div
    style="
      height: 50px;
      margin: 50px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <h2 style="text-align: center; color: #8fbe88">
      Eat smarter, live healthier with SmartPlate
    </h2>
  </div>
  <h5 style="text-align: center">Mission/Vision</h5>
  <div
    style="
      background-color: #f3efe4;
      border-radius: 6px;
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
      height: auto;
      width: auto;
      margin: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <p style="text-align: center; padding-top: 25px">
      The mission and vision for our diet generator system is to generate
      personalized diet<br />
      to individuals based on their unique details.
    </p>
  </div>
  <h5 style="text-align: center">Goal</h5>
  <div
    style="
      background-color: #f3efe4;
      border-radius: 6px;
      box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
      height: auto;
      width: auto;
      margin: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    "
  >
    <p style="text-align: center; padding-top: 15px">
      Our goal is to help people achieve optimal health and wellness through the
      power of <br />nutrition, while also promoting sustainability and ethical
      food choices.
    </p>
  </div>
  <div style="display: flex; justify-content: center">
    <div
      style="
        background-color: #f3efe4;
        border-radius: 6px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
        height: 50px;
        width: 360px;
        margin: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      "
    >
      <p style="text-align: center; padding-top: 10px">
        Contact us for support
        <i class="fab fa-whatsapp icon"></i>17******/77******
      </p>
    </div>
  </div>
</div>
{% endblock %}
